<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="py-7 px-6 flex justify-between bg-violet-800 space-x-4">
            <a href="/" class="text-white">APOLO CRM</a>

            <div class="space-x-4">
                <a href="{% url 'about' %}" class="text-white py-6 px-6 rounded-xl bg-violet-600">About</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'dashboard' %}" class="text-white py-6 px-6 rounded-xl bg-violet-600">Dashboard</a>
                    <a href="{% url 'add_lead' %}" class="text-white py-6 px-6 rounded-xl bg-violet-600">Add lead</a>
                    <a href="{% url 'logout' %}" class="text-white py-6 px-6 rounded-xl bg-rose-500">Log out</a>
                {% else %}
                    
                    <a href="{% url 'login' %}" class="text-white py-6 px-6 rounded-xl bg-violet-600">Log in</a>
                    <a href="{% url 'signup' %}" class="text-white py-6 px-6 rounded-xl bg-violet-600">Sing up</a>
                    
                {% endif %}
            </div>
        </nav>
    

        {% block content %}
        {% endblock %} 

        <footer class="py-8 text-center bg-violet-800">
            <p class="text-xs text-white">Copyright (c) 2022 - Teal CRM</p>
             
        </footer>
         
    </body>
</html>